* {
    /*border: 1px solid red;*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #2d3c49;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container, .row {
    width: 100%;
}

#title {
    height: 10%;
}

#main {
    height: 90%;
}

#main>.row, #map, #list-view{
    height: 100%;
}

ul {
    height: 80%;
    margin-top: 10px;
    overflow: scroll;
}

li {
    width: 100%;
}

.flex {
    display: inline-flex;
}

#image {
    margin-top: 10px;
    margin-right: 20px;
}
#image>img {
    width: 135px;
    height: auto;
}