*{
    border: 1px solid red;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

header h1{
    font-family: Lato;
    font-weight: 300;
    font-size: 40px;
}
header h3{
    font-family: Lato;
    font-size: 20px;
    font-weight: 300;
    text-align: right;
}

#title{
    float:right;
}

#flex-wrap{
    display: -webkit-flex;
    display: flex;
}

.work{
    width: 33.3%;
    height: auto;
    margin: 0 10px 0 10px
}