*{
    /*border: 1px solid red;*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: "Lato", sans-serif;
    color: #505050;
    font-weight: 300;
}

.logo{
    padding: 20px 0 0 20px;
}
header h1{    
    font-size: 50px;
    margin: 20px 0 0 0;
}
header h3{
    font-size: 20px;
}

#title{
    float:right;
    padding-right: 30px;
}

.work figcaption{
    text-align: center;
}
.text-light{
    color: grey;
}
.text-400{
    font-weight: 400;
}
