* {
    border: 1px solid red;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #2d3c49;
}

div {
    min-height: 50px;
}

.container{
    width: 100%;
}